<div class="row">
  <div class="col-md-6"><h1>All questions</h1></div>
  <div class="col-md-6">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"> Search </span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Question"
        [(ngModel)]="filterPost"
      />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div
      *ngFor="let post of (posts | async | searchPost: filterPost)"
      class="card"
    >
      <div class="card-body">
        <a routerLink="/posts/{{post._id}}">{{ post.title }}</a>
      </div>
    </div>
  </div>
</div>
